@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

*{
    box-sizing: border-box;
    /* size of element is padding plus  */
    /* margin */
    font-family: Raleway;
    color:#777;

}

html, body
{
    margin:0;
    padding:0;
}

.nav ul
{
    margin:0;
}

.nav li
{
    display: inline;
    /* Inline elements cannot apply padding at top or bottom */
}

.nav a
{
    display: inline-block;
    /* Padding inside */
    padding: .5em;
    color:white;
    text-decoration: none;
    
}
.nav a:hover
{
    background-color: rgba(255,255,255,.3);

}
.main-nav
{
    text-align: center;
    font-size:1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255,255,255,.3);
}
.main-nav
{
    padding:0 5%;
}
.main-header
{
    background-color:rgba(0,0,0,.6);
    color:white;
    /* Background color of Background */
    background-image: url("images/e6543c32c2b553a705fa743e7934463f.jpg");
    background-blend-mode:multiply;
    /* Background blend mode blends over top of each other */
    background-size:cover; 
    /* Wide and Tall */
    padding-bottom:30px;
}

.website-name
{
    text-align:center;
    margin:0;
    font-size: 4em;
    font-family: "Roboto";
    font-weight: normal;
    color:white;

}
.website-name-large
{
    font-size: 5em;
}

.content-section
{
    margin: 3em;
    /* 
    EM and REM are units of measurement in CSS.
    EM is relative to the font size of the parent element,
    while REM is relative to the font size of the root 
    element (HTML). EM is useful when defining font sizes
    for nested elements, whereas REM is useful for
    creating a consistent font size across the entire document. */
}

.container
{
    max-width: 900px;
    margin:0 auto;
    padding:0 1.5em;
}
.section-header
{
    font-family: "Open Sans";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size:2.5em;
}

.section-header-small
{
    font-family: "Open Sans";
    text-shadow: 0.5px 0.5px 0.5px #333, 1.5px 1.5px 1.5px black;
    text-transform: capitalize;
    font-weight: normal;
    color: rgb(27, 27, 27);
    text-align: center;
    font-size:1.5em;
}


.profile-image
{
    float:left;
    height:200px;
    width:200px;
    margin:15px;
    border-radius:50%;
}
.main-footer
{
    background-color:#87CEFA;
    color:white;
    padding: .25em 0;
}

.main-footer-container
{
    display:flex;
    align-items: center;
}
.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
}
.footer-nav li
{
    padding: 0 .5em;
}
.footer-nav img{
    width:30px;
    height:30px;
}

.professional-experience
{
   color:#333;
   text-indent: 50px;
   letter-spacing: 1.15pm;
   text-align: center;
}

.company 
{
        padding:10px;
        border:1px solid grey;
        list-style-type: upper-roman;
        list-style-position: inside;
   
}
/* CSS */
.flag-icon {
    width: 1.5em;
    height: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
  }
  
  .flag-icon-can {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Flag_of_Canada.svg/320px-Flag_of_Canada.svg.png');
  }